@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
/* Animacja Lampy./Zmienny motyw itp. */
body {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 4.2vmin;
    line-height: 4.7vmin;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1c2531;
   /* background-image:url('img/viscompanija2.png'); URL */
    background-size: cover;
    
}

a {
    color: #0a0a08;
}
#AnLamp {
    position: fixed;
    left: 5%;
    top: 0;
}
#Kabel {
    position: relative;
    background-color: #0a0a08;
    width: 2px;
    height: 150px;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
         -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-animation: aniKabel .9s ease-in-out 0s infinite alternate;
       -moz-animation: aniKabel .9s ease-in-out 0s infinite alternate;
        -ms-animation: aniKabel .9s ease-in-out 0s infinite alternate;
         -o-animation: aniKabel .9s ease-in-out 0s infinite alternate;
            animation: aniKabel .9s ease-in-out 0s infinite alternate;
}
#Kabel:after {
    content: " ";
    left: -5px;
    top: 100%;
    position: absolute;
    border-bottom: 15px solid #0a0a08;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    height: 0;
    width: 4px;
}
#Lampa {
    position:relative;
}
div#AnLamp > input[value="off"] :checked ~
#Kabel {
    -webkit-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
       -moz-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
        -ms-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
         -o-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
            box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
}
div#AnLamp > input[value="off"]:checked ~
#Kabel:after {
    -webkit-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
       -moz-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
        -ms-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
         -o-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
            box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
}

div#AnLamp > input {
    position: absolute;
    width: 90px;
    height: 70px;
    top: 120px;
    margin-left:-45px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

div#AnLamp > input[value="on"] {
    top: 150px;
}
div#AnLamp > input[value="off"] {
    top: -100px;
}
div#AnLamp > input[value="on"]:checked {
    top: -100px;
}
div#AnLamp > input[value="on"]:checked + input[value="off"] {
    top: 150px;
}

div#AnLamp > label {
    width: 51px;
    height: 51px;
    top: 164px;
    position: absolute;
    left: 0;
    margin-left: -24px;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
        -ms-border-radius: 100%;
         -o-border-radius: 100%;
            border-radius: 100%;
    -webkit-animation: AnLampa .9s ease-in-out 0s infinite alternate;
       -moz-animation: AnLampa .9s ease-in-out 0s infinite alternate;
        -ms-animation: AnLampa .9s ease-in-out 0s infinite alternate;
         -o-animation: AnLampa .9s ease-in-out 0s infinite alternate;
            animation: AnLampa .9s ease-in-out 0s infinite alternate;
}           
div#AnLamp > input[value="off"]:checked ~ label {
    background: rgba(255,255,255,0.03);
    -webkit-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
       -moz-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
        -ms-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
         -o-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
            box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
}
div#AnLamp > input[value="on"]:checked ~ label {
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
       -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
        -ms-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
         -o-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
            box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
}

div#AnLamp > input[value="off"]:checked ~ label:after {
    content: " "; 
    width: 15px;
    height: 15px;
    top: 0;
    position: absolute;
    left: 0;
    margin-left: 15px;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
        -ms-border-radius: 100%;
         -o-border-radius: 100%;
            border-radius: 100%;
    border: 2px solid rgba(255,255,255,0.03);
}



@-webkit-keyframes aniKabel {
    from {
        -webkit-transform:rotate(5deg);
    } to {
        -webkit-transform:rotate(-5deg);
    }
}
@-moz-keyframes aniKabel {
    from {
        -moz-transform:rotate(5deg);
    } to {
        -moz-transform:rotate(-5deg);
    }
}
@-ms-keyframes aniKabel {
    from {
        -ms-transform:rotate(5deg);
    } to {
        -ms-transform:rotate(-5deg);
    }
}
@-o-keyframes aniKabel {
    from {
        -o-transform:rotate(5deg);
    } to {
        -o-transform:rotate(-5deg);
    }
}
@keyframes aniKabel {
    from {
        transform:rotate(5deg);
    } to {
        transform:rotate(-5deg);
    }
}

@-webkit-keyframes AnLampa {
    from {
        -webkit-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -webkit-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-moz-keyframes AnLampa {
    from {
        -moz-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -moz-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-ms-keyframes AnLampa {
    from {
        -ms-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -ms-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-o-keyframes AnLampa {
    from {
        -o-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -o-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@keyframes AnLampa {
    from {
        transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        transform: rotate(-3deg) translate(16.4px,-1px);
    }
}

@-webkit-keyframes testowo {
    from {
        -webkit-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -webkit-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-moz-keyframes testowo {
    from {
        -moz-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -moz-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-ms-keyframes testowo {
    from {
        -ms-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -ms-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-o-keyframes testowo {
    from {
        -o-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -o-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@keyframes testowo {
    from {
        transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}


.container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
}
main {
    width: 65%;
}
aside {
    width: 30%;
}
/* KONIEC ZMIENNY MOTYW LAMPA */
/* MENU/START */
.Menju {
    align-items: right;
    display: flex;
    height: 100%;
    justify-content: right;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .navbar-section {
     position: fixed;
      left: 96%;
  }
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
    
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
  .ham2 .top {
    stroke-dasharray: 40 121;
  }
  .ham2 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham2.active .top {
    stroke-dashoffset: -102px;
  }
  .ham2.active .bottom {
    stroke-dashoffset: -102px;
  }
  .ham3 .top {
    stroke-dasharray: 40 130;
  }
  .ham3 .middle {
    stroke-dasharray: 40 140;
  }
  .ham3 .bottom {
    stroke-dasharray: 40 205;
  }
  .ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
  }
  .ham3.active .middle {
    stroke-dashoffset: -102px;
  }
  .ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
  }
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }

  


/* MENU/KONIEC */


.cf:before, .cf:after {
    content:"";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }
  .menu {
    list-style:none;
    margin: 50px auto;
    width: 800px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    
  }
  .menu > li {
    background: #34495e;
    float: left;
    position: relative;
    -webkit-transform: skewX(25deg);
    top: 50%;
  }
  .menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
  }
  .menu li:hover {
    background: #e74c3c;
  }
  .menu > li > a {
    -webkit-transform: skewX(-25deg);
    padding: 1em 2em;
  }
  /* Dropdown */
  .submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: left top;
  }
  .submenu li {
    background-color: #34495e;
    position: relative;
    overflow: hidden;
  }
  .submenu > li > a {
    padding: 1em 2em;
  }
  .submenu > li::after {
    content:'';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
  }
  /* Odd stuff */
  .submenu > li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(0);
  }
  .submenu > li:nth-child(odd) > a {
    -webkit-transform: skewX(25deg);
  }
  .submenu > li:nth-child(odd)::after {
    right: -50%;
    -webkit-transform: skewX(-25deg) rotate(3deg);
  }
  /* Even stuff */
  .submenu > li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(0);
  }
  .submenu > li:nth-child(even) > a {
    -webkit-transform: skewX(-25deg);
  }
  .submenu > li:nth-child(even)::after {
    left: -50%;
    -webkit-transform: skewX(25deg) rotate(3deg);
  }
  /* Show dropdown */
  .submenu, .submenu li {
    opacity: 0;
    visibility: hidden;
  }
  .submenu li {
    transition: .2s ease -webkit-transform;
  }
  .menu > li:hover .submenu, .menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
  }
  .menu > li:hover .submenu li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(15px);
  }
  .menu > li:hover .submenu li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(-15px);
  }
 
  .gora {
    height: 7%;
    width: 100%;
    position: fixed;
    padding: 0px;
    background-color: red;
    color: black;
    border-radius: 0px 0px 10px 10px;
  }
  #kreska {
    border: 0;
    height: 1px;
    width: 85%;
    position: center;
    padding: 0;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
  }
  #vis {
    color: white;
    position: fixed;
    cursor: pointer;
    left: 50%;
    top: 1%;
  }
  
  



 
  
 



/* Przedmioty */





#przedmioty{ 
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #f5f5f5;
  font-family: 'Exo 2';
  font-weight: 300;
  animation: fadeIn .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
}

.wrapper{
  width: 280px;
  height: 480px;
  perspective: 800px;
  position: relative;
}

.card{
  width: 320px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  cursor: pointer;
}

.card > div{
  position: absolute;
  width: 320px;
  height: 450px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.front{
  background-image: linear-gradient(180deg, rgba(145,141,144,1) 0%, rgba(92,91,94,0) 100%);
  transform: rotateY(0deg) translateZ(160px); 
  border-radius: 34px 3px 0 0;
}

.right{ 
  background-image: linear-gradient(0deg, rgba(145,141,144,1) 0%, rgba(92,91,94,0) 100%);
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
}

.card:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.card:hover .front{
  opacity: 0; 
}

.card:hover .right{
  opacity: 1; 
}

h1,h2{
  margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;
  transform: translateX(-44px);
  font-family: 'Sarala'; 
  font-weight: 700;
}

h2{
  font-size: 21px;
  transform: translateX(-34px);
}

p{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

span{
  margin-left: 13px;
  opacity: .55;
}

img{
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transition-delay: 100ms;
  transform: translateX(21%) rotateZ(13deg) skewX(3deg);
  pointer-events: none;
}

.img-wrapper{
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  top: 0; right: 0;
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

.card:hover ~ .img-wrapper img{
  transform: scale(0.9) translateX(77%) translateY(90%) rotateZ(80deg);
}

ul{
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

li{
  padding-bottom: 8px;
  position: relative;
}

li:before{
  content: 'x';
  position: absolute;
  left: -21px;
  opacity: .55;
}

button{
  position: absolute;
  right: 21px; 
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: inherit;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 15px;  
  letter-spacing: -.25px;
  font-weight: 700;
  padding: 13px 34px;
  border-radius: 55px 55px 21px 55px;
  background-image: linear-gradient(130deg, rgba(117,51,165,1)  50%, rgba(51,46,57,.89) 100%);
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34,34,34,.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transform-origin: right bottom;
}

.card:hover button{
   transform: scale(1) skewY(0);
}

.card:not(:hover) button{
opacity: 0;
}

button:hover{
  background-position: left;
}

.price{
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  opacity: .34;
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

@media only screen and (max-width: 600px){
  body{
    transform: scale(.67);
  }
}

