@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 4.2vmin;
    line-height: 4.7vmin;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1c2531;
    background-size: cover;
    
}
/* MENU/START */
.menu-wysuwane {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: none;
}
.site-nav {
  height: 20px;
  width: 100%;
  background: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.site-menu-trigger {
  border: 0;
  border-radius: 5px;
  background: #FFFFFF;
}
.site-menu {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 0;
  height: 20%;
  width: 250px;
  background: none;
  transform: translateX(100%);
  transition: 0.3s transform ease-in-out;
}
.site-menu ul {
  padding: 0;
  list-style-type: none;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.site-menu li {
  background: #FFFFFF;
  margin-top: 20px;
  color: #696e9e;
  border-radius: 5px;
  flex-basis: 100%;
  display: flex;
  height: 30px;
}
.site-menu a {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.site-menu a:hover {
  background: #696e9e;
  color: #FFFFFF;
}
.site-menu-trigger:focus ~ .site-menu, .site-menu:hover {
  transform: translateX(0%);
}

/* MENU/KONIEC */

 
  .gora {
    height: 7%;
    width: 100%;
    position: fixed;
    padding: 0px;
    background-color: #FFFFFF;
    color: white;
    border-radius: 0px 0px 10px 10px;
    opacity: 25%;
  }

  #vis {
    color: #FFFFFF;
    position: fixed;
    left: 50%;
    top: 1%;
  }
  .Pktsprzedarzy {
    height: 95%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 8%;
    opacity: 5%; 
    border-radius: 8px 8px 8px 8px;
  }
  
  



 
  
 



/* Przedmioty */





#przedmioty{ 
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #f5f5f5;
  font-family: 'Exo 2';
  font-weight: 300;
  animation: fadeIn .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
}

.wrapper{
  width: 280px;
  height: 480px;
  perspective: 800px;
  position: relative;
}

.card{
  width: 320px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  cursor: pointer;
}

.card > div{
  position: absolute;
  width: 280px;
  height: 30v0px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  padding: 10px;
}

.front{
  background-image: linear-gradient(180deg, rgba(145,141,144,1) 0%, rgba(92,91,94,0) 100%);
  transform: rotateY(0deg) translateZ(160px); 
  border-radius: 34px 3px 0 0;
  
}

.right{ 
  background-image: linear-gradient(0deg, rgba(145,141,144,1) 0%, rgba(92,91,94,0) 100%);
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
}

.card:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.card:hover .front{
  opacity: 0; 
}

.card:hover .right{
  opacity: 1; 
}

h1,h2{
  margin: 0;
  font-size: 23px;
  letter-spacing: -.20px;
  transform: translateX(5px);
  font-family: 'Sarala'; 
  font-weight: 700;
}

h2{
  font-size: 21px;
  transform: translateX(-34px);

}

p{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

span{
  margin-left: 13px;
  opacity: .55;
}

img{
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transition-delay: 100ms;
  transform: translateX(21%) rotateZ(13deg) skewX(3deg);
  pointer-events: none;
}

.img-wrapper{
  animation: float 4s cubic-bezier(0.350, 0.535, 0.525, 1.000) infinite alternate;
  position: absolute;
  top: 100px; right: 0px; 
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

.card:hover ~ .img-wrapper img{
  transform: scale(0.9) translateX(77%) translateY(90%) rotateZ(80deg);
}

#przedmioty ul{
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

#przedmioty li{
  padding-bottom: 8px;
  position: relative;
}

#przedmioty li:before{
  content: 'x';
  position: absolute;
  left: -21px;
  opacity: .55;
}

.przycisk-koszyk {
  position: absolute;
  right: 21px; 
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: inherit;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 15px;  
  letter-spacing: -.25px;
  font-weight: 700;
  padding: 13px 34px;
  border-radius: 55px 55px 21px 55px;
  background-image: linear-gradient(130deg, rgba(117,51,165,1)  50%, rgba(51,46,57,.89) 100%);
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34,34,34,.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transform-origin: right bottom;
}

.card:hover .button{
   transform: scale(1) skewY(0);
}

.card:not(:hover) .przycisk-koszyk{
opacity: 0;
}

.przycisk-koszyk:hover{
  background-position: left;
}

.price{
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  opacity: .34;
  top: 430%;
  
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

@media only screen and (max-width: 600px) {
  body{
    transform: scale(.67);
  }
}



.kartajeden {
  
  position: fixed;
  left: 5%;
  top: 10%;
}

.kartadwa {
  position: fixed;
  left: 26%;
  top: 10%;
}
.kartatrzy {
  position: fixed;
  left: 47%;
  top: 10%;
}
.kartacztery {
  position: fixed;
  left: 68%;
  top: 10%;
}
.kartapiec {
  position: fixed;
  left: 5%;
  float: top;
}
.kartaszesc {
  position: fixed;
  left: 26%;
  float: top;
}
.kartasiedem {
  position: fixed;
  left: 47%;
  float: top;
}
.kartaosiem {
  position: fixed;
  left: 68%;
  float: top;
  clear: both;
}


