body {
    background-color: #13120f;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Lato';
    font-size: 20px;
    color: #13120f;
    
}

#container  {



}
#logo {
user-select: none;

}






























/* Linki */
/* Link po najechaniu na Link */
a:hover {
    color: #b99301;
}
/* Odwiedzony link */
a:visited {
color: ;
}
/* Nieodwiedzony link */
a:link {
color: antiquewhite;
}


