
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import "compass/css3";
/*body {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 4.2vmin;
    line-height: 4.7vmin;
    
    margin: 0;
    padding: 0;
    height: 100%;
   
}
*/
/* AnimowanY Background */

div#AnimatedBackground > .large-header {
    position: relative;
    width: 100%;
    /* background: #333; */
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
.demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}
.main-title .thin {
    font-weight: 200;
}
@media only screen and (max-width : 768px) {
    .demo-1 .main-title {
        font-size: 3em;
    }
}

/* Koniec animowanego Backgroundu */ 

/* Animacja Lampy./Zmienny motyw itp. */
body {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 4.2vmin;
    line-height: 4.7vmin;
    color: #0a0a08;
    margin: 0;
    padding: 0;
    height: 100%;
    background: none;
    background-image:url('img/viscompanija2.png');/* URL */
    background-size: cover;
    background-position: center center ;
}

a {
    color: #0a0a08;
}
#AnLamp {
    position: fixed;
    left: 5%;
    top: 0;
}
#Kabel {
    position: relative;
    background-color: #0a0a08;
    width: 2px;
    height: 150px;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
         -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-animation: aniKabel .9s ease-in-out 0s infinite alternate;
       -moz-animation: aniKabel .9s ease-in-out 0s infinite alternate;
        -ms-animation: aniKabel .9s ease-in-out 0s infinite alternate;
         -o-animation: aniKabel .9s ease-in-out 0s infinite alternate;
            animation: aniKabel .9s ease-in-out 0s infinite alternate;
}
#Kabel:after {
    content: " ";
    left: -5px;
    top: 100%;
    position: absolute;
    border-bottom: 15px solid #0a0a08;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    height: 0;
    width: 4px;
}
#Lampa {
    position:relative;
}
div#AnLamp > input[value="off"] :checked ~
#Kabel {
    -webkit-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
       -moz-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
        -ms-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
         -o-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
            box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
}
div#AnLamp > input[value="off"]:checked ~
#Kabel:after {
    -webkit-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
       -moz-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
        -ms-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
         -o-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
            box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
}

div#AnLamp > input {
    position: absolute;
    width: 90px;
    height: 70px;
    top: 120px;
    margin-left:-45px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

div#AnLamp > input[value="on"] {
    top: 150px;
}
div#AnLamp > input[value="off"] {
    top: -100px;
}
div#AnLamp > input[value="on"]:checked {
    top: -100px;
}
div#AnLamp > input[value="on"]:checked + input[value="off"] {
    top: 150px;
}

div#AnLamp > label {
    width: 51px;
    height: 51px;
    top: 164px;
    position: absolute;
    left: 0;
    margin-left: -24px;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
        -ms-border-radius: 100%;
         -o-border-radius: 100%;
            border-radius: 100%;
    -webkit-animation: AnLampa .9s ease-in-out 0s infinite alternate;
       -moz-animation: AnLampa .9s ease-in-out 0s infinite alternate;
        -ms-animation: AnLampa .9s ease-in-out 0s infinite alternate;
         -o-animation: AnLampa .9s ease-in-out 0s infinite alternate;
            animation: AnLampa .9s ease-in-out 0s infinite alternate;
}           
div#AnLamp > input[value="off"]:checked ~ label {
    background: rgba(255,255,255,0.03);
    -webkit-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
       -moz-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
        -ms-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
         -o-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
            box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
}
div#AnLamp > input[value="on"]:checked ~ label {
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
       -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
        -ms-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
         -o-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
            box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
}

div#AnLamp > input[value="off"]:checked ~ label:after {
    content: " "; 
    width: 15px;
    height: 15px;
    top: 0;
    position: absolute;
    left: 0;
    margin-left: 15px;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
        -ms-border-radius: 100%;
         -o-border-radius: 100%;
            border-radius: 100%;
    border: 2px solid rgba(255,255,255,0.03);
}



@-webkit-keyframes aniKabel {
    from {
        -webkit-transform:rotate(5deg);
    } to {
        -webkit-transform:rotate(-5deg);
    }
}
@-moz-keyframes aniKabel {
    from {
        -moz-transform:rotate(5deg);
    } to {
        -moz-transform:rotate(-5deg);
    }
}
@-ms-keyframes aniKabel {
    from {
        -ms-transform:rotate(5deg);
    } to {
        -ms-transform:rotate(-5deg);
    }
}
@-o-keyframes aniKabel {
    from {
        -o-transform:rotate(5deg);
    } to {
        -o-transform:rotate(-5deg);
    }
}
@keyframes aniKabel {
    from {
        transform:rotate(5deg);
    } to {
        transform:rotate(-5deg);
    }
}

@-webkit-keyframes AnLampa {
    from {
        -webkit-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -webkit-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-moz-keyframes AnLampa {
    from {
        -moz-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -moz-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-ms-keyframes AnLampa {
    from {
        -ms-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -ms-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-o-keyframes AnLampa {
    from {
        -o-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -o-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@keyframes AnLampa {
    from {
        transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        transform: rotate(-3deg) translate(16.4px,-1px);
    }
}

@-webkit-keyframes testowo {
    from {
        -webkit-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -webkit-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-moz-keyframes testowo {
    from {
        -moz-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -moz-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-ms-keyframes testowo {
    from {
        -ms-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -ms-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-o-keyframes testowo {
    from {
        -o-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -o-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@keyframes testowo {
    from {
        transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}


.container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
}
main {
    width: 65%;
}
aside {
    width: 30%;
}
/* LOGOWANIE MODAL */ /*
  #MyBtn {
      position: absolute;
      top: 1%;
      left: 92%;
      border-radius: 0;
    background: none;
    display: block;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
#MyBtn:hover {
    background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); } */
  /*PRZYCISK ZALOGUJ SIE */ 
.box-zaloguj {
    
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
   /* background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); */
    background: none;
}
div[class*=box-zaloguj] {
    height: 7%;
    font-display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    position: relative;
    display: flex;
    width: 100%;
    
}
.btn {
    line-height: 30px;
    height: 35px;
    text-align: center;
    width: 120px;
    cursor: pointer;
   
    
}
.btn-zaloguj {
    color: #ffffff;
    transition: all 0.3s;
    position: relative;
    left: 46%;
}
.btn-zaloguj span {
   font-size: 25px;
   content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}
.btn-zaloguj::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(254,215,94,0.5);
    border-bottom-color: rgba(254,215,94,0.5);
    transform: scale(0.1, 1);
}
.btn-zaloguj:hover span {
letter-spacing: 1px;
}
.btn-zaloguj:hover::before {
opacity: 1;
transform: scale(1, 1);
}
.btn-zaloguj::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(134,181,225, 0.2);
}
.btn-zaloguj:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}
/*PRZYCISK ZALOGUJ SIE KONIEC */

  .modal-content h1 {
	font-weight: bold;
    margin: 0;
    font-size: 1.2em;
}

.modal-content h2 {
	text-align: center;
}

.modal-content p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.modal-content span {
	font-size: 12px;
}

.modal-content a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.modal-content button {
	border-radius: 20px;
	border: 1px solid #0b0f19;
	background-color: #212936;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.modal-content button:active {
	transform: scale(0.95);
}

.modal-content button:focus {
	outline: none;
}

.modal-content button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.modal-content form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.modal-content input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 50%;
    top: 10%;
    width: 50%; /* Full width */
    height: 80%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: none;
    margin: auto;
    width: 80%;
  }

  .modal-content #account-container {
    background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  
    
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.modal-content .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

#account-container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.modal-content .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#account-container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.modal-content .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

#account-container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #10172e; 
	background: -webkit-linear-gradient(to right, #0b0f19, #212936);
	background: linear-gradient(to right, #0b0f19, #212936);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#account-container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* padding: 0 40px; */
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

#account-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

#account-container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/* KONIEC LOGOWANIA MODAL */
/* Koniec Animacji Lampy */

/* Informacja Bar/START */
 

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;  
    color: #255;
    overflow: hidden; 
    
  }
  
 
  
  .page {
    position: absolute;
    overflow:hidden;
  }
  
  #p1 {
    left: 0;
    overflow:hidden;
  }
  
  #p2, #p3, #p4, #p5 {
    left: 200%;
    overflow:hidden;
  }
  

  #t1:target #p1,
  #t2:target #p2,
  #t3:target #p3,
  #t4:target #p4,
  #t5:target #p5 {
    transform: translateX(-190%);
    -webkit-transform: translateX(-190%);
    -moz-transform: translateX(-190%);
    -o-transform: translateX(-190%);
    transition-delay: .4s ;
    overflow:hidden;
  }
  #t1:target #p1,
  #t2:target #p1, 
  #t3:target #p1,
  #t4:target #p1,
  #t5:target #p1{
    background: none;
    overflow:hidden;
  }
  
  
  
  .icon {
    color: #4d5a72;
    font-size: 32px;
    display: flex;
    
  }
  
  ul .icon:hover {
    opacity: 0.5;
    overflow:hidden;
  }
  
  .page .icon .title {
    line-height: 2;
    overflow:hidden;
  }
  #t1:target ul .icon,
  #t2:target ul .icon,
  #t3:target ul .icon,
  #t4:target ul .icon,
  #t5:target ul .icon{
    transform: scale(.6);
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -o-transform: scale(.6);
    transition-delay: .25s;
    overflow:hidden;
    
  }
  
  #t2:target #dwa,
  #t3:target #trzy,
  #t4:target #cztery,
  #t1:target #jeden {
    transform: scale(1.2) ;
    -webkit-transform: scale(1.2) ;
    -moz-transform: scale(1.2) ;
    -o-transform: scale(1.2) ;
    overflow:hidden;
  }
  
  ul {
    position: fixed;
    z-index: 1;
    top: 110%;
    bottom: 0;
    left: 90%;
    margin: auto;
    height: 300px;
    width: 10%;
    padding: 0;
    text-align: center;
    overflow:hidden;
   }
  
  #menu .icon {
    margin: 30px 0;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    overflow:hidden;
  }
  .page .icon {
    overflow:hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    left: 0;
    width: 270px;
    height: 170px;
    margin: auto;
    text-align: center;
    font-size: 90px;
    line-height: 1.3;
    transform: translateX(360%);
    -webkit-transform: translateX(360%);
    -moz-transform: translateX(360%);
    -o-transform: translateX(360%);
    transition: all 5s; 
    -webkit-transition: all 5s; 
    -moz-transition: all .5s;
    -o-transition: all .5s;
    
  }
 .

  






 


    

    



/* Informacja Bar/KONIEC */





























/* 

/* Linki 
/* Link po najechaniu na Link
a:hover {
    color: #b99301;
}
/* Odwiedzony link 
a:visited {
color: #c9b920;
}
/* Nieodwiedzony link 
a:link {
color: #c9b920; 
} 
*/


